/*       ---------------------------------------------------- Top Header ------------------------------------------->>>>>>       */

.Parent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: iransansweb;
  flex-direction: column;
  align-items: center;
}
.Header_TopMenu {
  max-width: 1800px;
  width: 100%;
  background-color: rgb(255, 136, 0);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header_Cart,
.Header_Logo {
  margin: 0 50px;
}
.Header_Logo {
  color: black;
  text-decoration: none;
}
.Header_Cart {
  position: relative;
  cursor: pointer;
}
.Header_Cart_Count {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background-color: rgb(255, 169, 71);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  position: absolute;
  top: -7px;
  right: -15px;
}

/*       ---------------------------------------------------- Menu ------------------------------------------->>>>>>       */

.Header_Menu {
  width: 100%;
  max-width: 1800px;
  height: 45px;
  padding-right: 50px;
  background-color: rgb(255, 167, 67);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Header_Menu a {
  width: auto;
  font-size: 14px;
  text-decoration: none;
  font-family: iransansweb;
  color: black;
  margin-left: 30px;
  display: inline-block;
}

/*       ---------------------------------------------------- Products And Categories ------------------------------------------->>>>>>       */
.Product_ul {
    margin-top:25px;
    overflow-y:scroll;
    height:400px;
    width:100%;
    display : flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.Products_Categories {
  width: 100%;
  max-width: 1800px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  flex-wrap: nowrap;
}

.AddProducts,
.AddCategories,
.ShowProduct {
  width: 33.3333%;
}
.AddProducts {
  border-left: 1px solid gray;
}
.AddCategories {
  border-left: 1px solid gray;
}
.children {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.input_group {
  margin-right: 25px;
  margin-top: 25px;
  width: 90%;
  height: 80px;
}
.input_group_p {
  text-align: right;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  outline: none;
  margin-top: 10px;
  border-radius: 5px;
  font-family: iransansweb;
  direction: rtl;
  padding: 0 10px;
  font-size: 16px;
}
.ShowProduct_product {
  width: 90%;
  padding: 20px 0;
  border-radius: 10px;
  background-color: rgb(255, 216, 158);
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
}
.ShowProduct_product p {
  margin: 0 20px;
}
.button_submit {
  padding: 10px 30px;
  border: none;
  outline: none;
  margin: 25px;
  font-family: iransansweb;
  border-radius: 5px;
  background-color: rgb(255, 179, 91);
  border: 1px solid gray;
  box-shadow: 0 0 3px 0 rgb(248, 137, 9);
  cursor: pointer;
}
